.App {
  display: block;
  margin: 0 auto;
  max-width: 600px;
  
}



.Container {
  border: 1px solid;
  border-radius: 20px;
  padding: 25px 25px 25px 25px;
  margin: 20px auto 6px auto;
  max-width: 600px;
  background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}
.Container-max-widths{  
  sm: 540px;
  md: 720px;
  lg: 960px;
  xl: 1140px;
}

.Container button {
  background: transparent;
  border: none;
  font-size: 25px;
}

