.Weather ul {
  list-style: none;
  padding-left: 10px;
}

.Weather ul li h1 {
  margin-top: 10px;
  font-size: 35px;
}

.Weather ul li h2 {
  font-size: 50px;
}
.WeatherTemp .units {

  position: relative;
  right: -60px;
  top: -60px;
}

.Weather .maxMin {
  position: relative;
  top: -20px;
}
.Weather .realFeel {
  position: relative;
  top: -20px;
}


.Weather a {
  color: purple;
}

.Weather .hourlyForecast {
  
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: auto;
}

.Weather .hourly li {
  text-align: center;
  margin: 0 50px 0 10px;
}



.Weather canvas {
  margin-top: 10px;
  height: 50px;
  width: 50px;
}

.Weather .col-3 {
  
  margin-top: 10px;
  margin-left: -30px;
  
}
.Weather .wind {
  font-size: 15px;
  padding: 0;
  margin-left: 70px;
  margin-right: -90px;
  margin-top: 20px;
}

.Weather .WeatherTemp h1 {
  font-size: 53px;
 
}
