.Weather ul {
  list-style: none;
  padding-left: 10px;
}

.Weather ul li h2 {
  font-size: 50px;
}
.Weather ul li .units {
  position: relative;
  right: -58px;
  top: -60px;
}

.Weather .wind {
  margin-top: 10px;
  margin-right: -40px;
  padding-left: 10px;
}

.Weather .li-units {
  position: relative;
  top: -20px;
}

.Weather a {
  color: black;
}

.Weather .hourlyForecast {
  margin-bottom: 20px;
  margin-left: 15px;
}

.Weather .hourly li {  
 margin-left: 10px;
 margin-right: 40px;
}



.Weather .dailyForecast {
  margin-bottom: 20px;
  margin-left: 15px;
}

.Weather .daily li{
  
  text-align: center;
  margin: 0 10px 0 -10px;
}

.Weather .daily li.unit{
  font-size: 13px;
  text-align: center;
  
}

